@charset "utf-8";

@import "scss/setting/_variables.scss";
@import "scss/index/_wrap.scss";
@import "scss/index/_header.scss";
@import "scss/index/_footer.scss";



body {
  position:         relative;
  line-height:      2;
  margin:           0;
  padding:          0;
  background-color: $palette-Light-Gray;
  color:            $palette-Dark-Gray;
  font-size:        $font-size-base;
}

ul {
  margin:  0;
  padding: 0;
}

a {
  color:           $palette-Blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

#portfolio {
  background-image:      url(./images/bg-portfolio.jpg);
  background-repeat:     no-repeat;
  background-position:   center top;
  background-attachment: fixed;
  background-size:       100% auto;
}


