$palette-Black:      #000000;
$palette-White:      #ffffff;
$palette-Light-Gray: #cccccc;
$palette-Gray:       #767671;
$palette-Dark-Gray:  #333333;
$palette-Blue:       #3583aa;


$font-size-nano:   12px;
$font-size-micro:  16px;
$font-size-small:  20px;

$font-size-medium: 24px;
$font-size-large:  36px;
