$palette-Black:      #000000;
$palette-White:      #ffffff;
$palette-Light-Gray: #cccccc;
$palette-Gray:       #767671;
$palette-Dark-Gray:  #333333;
$palette-Blue:       #3583aa;


$font-size-small:   12px;
$font-size-base:    15px;
$font-size-medium:  16px;
$font-size-large:   20px;
$font-size-xlarge:  24px;
$font-size-2xlarge: 36px;
