.header {
  width:  960px;
  height: 40px;
  margin: 0 auto;
  .header-global-nav {
    margin-top: 60px;
    text-align: right;
    &__item {
      list-style:  none;
      display:     inline-block;
      margin:      0 20px;
      font-size:   $font-size-larges;
      font-family: 'Bitter', serif;
    }
    &__item-link {
      color: $palette-White;

      &:hover {
        padding-bottom:  3px;
        border-bottom:   2px solid $palette-White;
        text-decoration: none;
      }
    }
  }
}
